<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Location based services</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>servlet.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addplaces</display-name>
    <servlet-name>addplaces</servlet-name>
    <servlet-class>servlet.addplaces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addplaces</servlet-name>
    <url-pattern>/addplaces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve</display-name>
    <servlet-name>Approve</servlet-name>
    <servlet-class>servlet.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/Approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvRegister</display-name>
    <servlet-name>AdvRegister</servlet-name>
    <servlet-class>servlet.AdvRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvRegister</servlet-name>
    <url-pattern>/AdvRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvLogin</display-name>
    <servlet-name>AdvLogin</servlet-name>
    <servlet-class>servlet.AdvLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvLogin</servlet-name>
    <url-pattern>/AdvLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userlogin</display-name>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>servlet.userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReg</display-name>
    <servlet-name>UserReg</servlet-name>
    <servlet-class>servlet.UserReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReg</servlet-name>
    <url-pattern>/UserReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>count</display-name>
    <servlet-name>count</servlet-name>
    <servlet-class>servlet.count</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>count</servlet-name>
    <url-pattern>/count</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>servlet.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>apriory</display-name>
    <servlet-name>apriory</servlet-name>
    <servlet-class>javabean.apriory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>apriory</servlet-name>
    <url-pattern>/apriory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addofficer</display-name>
    <servlet-name>addofficer</servlet-name>
    <servlet-class>servlet.addofficer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addofficer</servlet-name>
    <url-pattern>/addofficer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tmologin</display-name>
    <servlet-name>tmologin</servlet-name>
    <servlet-class>servlet.tmologin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tmologin</servlet-name>
    <url-pattern>/tmologin</url-pattern>
  </servlet-mapping>
</web-app>